[user]
	email = ohsumi-taito035@g.ecc.u-tokyo.ac.jp
	name = Taito Ohsumi
[color]
	ui = true
[alias]
	graph = log --graph --decorate --oneline --all
	root = rev-parse --show-toplevel
[core]
	excludesfile = ~/.gitignore
	editor = vim
[merge]
	tool = vimdiff
[init]
	defaultBranch = main
